<div id="<%= dom_id post %>" class = "post-container">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keyword %>
  </p>

  <% if user_signed_in? %>
    <% if policy(post)&.owned_by_user? %>
      <p> Post By: <strong> You </strong> </p>
    <% else %>
      <p> Post By: <%= post.user.email %> </p>
    <% end %>
  <% end %>
  <p>
    <% post.images.each do |image| %>
      <%= image_tag(image, class:"post-images") %>
    <% end %>
  </p>

  <p>
    <%= link_to "", post, class:"post-link" %>
  </p>
</div>
